
<article class="is-child notification is-primary" id="post">
    <li>
    <p class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
    </p>
    <p class="subtitle">{{description}}</p>
        <span>({{ posts.post_url}})</span>
            <div class="meta">
            {{votes}} {{format_plural "point" vote_count}} by {{username}} on {{format_date created_at}}
            |
            <a href="/post/"> "comment" </a>
            </div>
    </li>
</article>

