<div class="tile">
  <div class="tile is-parent is-vertical is-light">
    <div class="card is-primary-box">

      <div class="card-content">
        <nav class="level box">
          <div class="level-left">
            <p class="level-item title has-text-centered">
              <a href="/post/{{id}}">
                {{title}}
              </a>
            </p>
          </div>
          {{#if post_url}}
            <p class="level-item has-text-centered">
              <a
                class="subtitle is-italic has-text-link is-5"
                href="{{post_url}}"
                target="_blank"
              >{{format_url post_url}}
              </a>
            </p>
          {{/if}}
          <div class="level-right">
            {{#if rating}}
              <span class="is-size-5 has-text-weight-normal">

                {{rating}}
                out of 5 stars
              </span>
            {{/if}}
          </div>
        </nav>

        <div class="content is-size-5">
          {{description}}
        </div>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Username</p>
              <p class="title is-6">
                {{user.username}}
              </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{format_plural "upvote" votes}}
              </p>
              <p class="title is-6">
                {{votes}}
              </p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Created On</p>
              <p class="title is-6">
                {{format_date createdAt}}
              </p>
            </div>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>