{{! calling the post-info partial to render each post from that specific city}}
{{#if posts.length}}
  {{#each posts}}
    <nav class="level">
      <div class="level-item title has-text-centered">
        {{location.city_name}},
        {{location.state}}
      </div>
    </nav>
    <div class="tile">
      <div class="tile is-parent is-vertical is-light">
        <div class="card is-primary-box">
          <div class="card-content">
            <header class="card">
              <nav class="level">
                <div class="level-left">
                  <p class="level-item title has-text-centered">
                    <a href="/post/{{id}}">
                      {{title}}
                    </a>
                  </p>
                </div>
                <p class="level-item has-text-centered">
                  <a
                    class="subtitle is-italic has-text-link is-5"
                    href="{{post_url}}"
                    target="_blank"
                  >{{format_url post_url}}
                  </a>
                </p>
                <div class="level-right">
                  {{#if rating}}
                    <span class="is-size-5 has-text-weight-normal">
                      |
                      {{rating}}
                      out of 5
                    </span>
                  {{/if}}
                </div>
              </nav>
            </header>

            <div class="content is-size-5">
              {{description}}
            </div>

            <footer class="card-footer">
              <div class="card-footer-item is-size-6">
                | By:
                {{user.username}}
                | Posted on:
                {{format_date created_at}}
                |
                {{#if votes_count}}
                  {{votes_count}}
                  {{format_plural "upvote" votes}}
                  |
                {{/if}}
              </div>
            </footer>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
{{/if}}

{{#unless posts.length}}
  <header class="title is-2 has-text-centered has-text-light">No posts available
    for selected city!</header>

{{/unless}}