<div class="tile is-ancestor mx-2 my-2">
  {{! using a partial file to call the left tile; the tille will display 
    different information based on if the user is loged in or not}}
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      {{#each data}}
        {{#if title}}
          <li class="button is-warning box is-active">{{title}}</li>
        {{/if}}
      {{/each}}
    </article>
  </div>

  {{! right side of the tile were all the posts will be displayed}}
  <div class="tile is-vertical is-8">
    <div class="tile">
      {{#each data}}
        {{#if title}}
          <div class="tile is-parent is-vertical id="posts-container"">
            {{!-- <article class="tile is-child notification is-primary">
              <p class="title">{{title}}</p>
              <p class="subtitle">Description: {{description}}</p>
              <p class="subtitle is-tiny">User: {{user.username}}</p>
              <p class="subtitle is-link">{{post_url}}</p>

            </article>
          </div> --}}

          <div class="card is-primary box">
            <header class="card-header title">
              {{title}}
            </header>
            <div class="card-content">
              <div class="content">
                {{description}}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corrupti eveniet voluptatum assumenda quasi non, ad praesentium? 
                Corrupti officiis rerum et. Consequuntur rerum tempora, maiores optio 
                reprehenderit sint vero corporis ex!
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item box">
                <a href="{{post_url}}"> {{post_url}}</a>
              </p>
              <p class="card-footer-item box">
                {{user.username}}
              </p>
               <span class="card-footer-item  box">
                <div class="button">Upvote</div>
              </span>
               <p class="card-footer-item box">
                {{created_at}}
              </p>
            </footer>
          </div>
          
        {{/if}}
      {{/each}}
      {{! <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article> }}

      {{!-- <div class="tile is-parent is-vertical" >
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png" />
          </figure>
        </article>
      </div> --}}
    </div>
    {{!-- <div class="tile is-parent ">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div> --}}
  </div>

</div>
{{! end of first tile}}

<script src="/javascript/homepage.js"></script>