<div class="tile is-ancestor mx-2 my-2">
  {{! using a partial file to call the left tile; the tille will display 
    different information based on if the user is loged in or not}}
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      {{#each data}}
        {{#if city_name}}
          <li class="button is-warning box">{{city_name}}</li>
        {{/if}}
      {{/each}}
    </article>
  </div>

  {{! right side of the tile were all the posts will be displayed}}
  <div class="tile is-8">
    <div class="tile is-vertical">
      {{#each data}}
        {{#if title}}
          <div class="tile is-parent" id="posts-container">
            <div class="card box">
              {{! <header class="card-header title"> }}
              <nav class="level">
                <div class="level-left">
                  <p class="level-item title has-text-centered">
                    {{title}}
                  </p>
                </div>
                <div class="level-right">
                  <p class="level-item subtitle is-6 has-text-centered">
                    {{location.city_name}},
                    {{location.state}}
                  </p>
                </div>
              </nav>
              {{! </header> }}
              <div class="card-content">
                {{! <div class="content"> }}
                {{description}}
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Corrupti eveniet voluptatum assumenda quasi non, ad praesentium?
                Corrupti officiis rerum et. Consequuntur rerum tempora, maiores
                optio reprehenderit sint vero corporis ex!
                {{! </div> }}
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <a href="{{post_url}}"> {{post_url}}</a>
                </p>
                <p class="card-footer-item">
                  {{user.username}}
                </p>
                <p class="card-footer-item has-text-centered">
                  <button class="button">
                    upvote
                  </button>
                </p>
                <p class="card-footer-item">
                  {{created_at}}
                </p>
              </footer>
            </div>
          </div>
        {{/if}}
      {{/each}}
      {{! <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article>
        <article class="tile is-child notification is-primary">
          <p class="title">Post</p>
          <p class="subtitle">Restaurant:</p>
        </article> }}

      {{!-- <div class="tile is-parent is-vertical" >
         {{#each data}}
        {{> post-info this}}
        {{/each}}
      </div>  --}}
    </div>
    {{! <div class="tile is-parent ">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div> }}
  </div>

</div>
{{! end of first tile}}

<script type="module" src="/javascript/homepage.js"></script>